<div class="container">
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Profile</th>
                <th is-authorized="ROLE_ADMIN">Authorities</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td><a href="#/users/{{user.id}}">{{user.login}}</a></td>
                <td>{{user.profile}}</td>
                <td is-authorized="ROLE_ADMIN">{{user.authorities.join(',')}}</td>
            </tr>
        </table>
    </div>
</div>